BasedOnStyle:            LLVM
IndentWidth:             4
TabWidth:                4
UseTab:                  Never
ContinuationIndentWidth: 4
ColumnLimit:             120
---
Language: Cpp
Standard: Cpp11
MaxEmptyLinesToKeep: 2
IndentPPDirectives: None
AlignConsecutiveAssignments: true
AllowAllParametersOfDeclarationOnNextLine: false
BreakBeforeTernaryOperators: false
AllowShortFunctionsOnASingleLine: None
AlwaysBreakAfterReturnType: TopLevelDefinitions
BraceWrapping:
  AfterClass:      false
  AfterControlStatement: false
  AfterEnum:       false
  AfterFunction:   true
  AfterNamespace:  false
  AfterObjCDeclaration: false
  AfterStruct:     false
  AfterUnion:      false
  AfterExternBlock: false
  BeforeCatch:     false
  BeforeElse:      false
  IndentBraces:    false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
BreakBeforeBraces: Custom
PenaltyBreakBeforeFirstCallParameter: 500
PenaltyExcessCharacter: 10
SortIncludes: false
SpaceAfterCStyleCast: true
SpaceBeforeParens: ControlStatements
SpacesBeforeTrailingComments: 3
PointerAlignment: Right
AlignEscapedNewlines: Right
